
.header_top{
    background-color: #0D2987;
    padding: 20px 0;
}
.icons{
    display: flex;
    gap: 15px;
}
.header_top ul{
    gap: 20px;
}
.header_top ul li{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.header_top select{
    background-color: inherit;
    border: none;
    outline: none;
    width: 75px;
}

.logo{
    display: flex;
    gap: 5px;
    align-items: center;
    width:30%;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 600;
}
nav{
    padding: 25px 0;
}


.menuBurger{
    width: 20px;
    height: 2px;
    background-color: #000;
    position: relative;
    cursor: pointer;
    display: none;
}
.menuBurger::after,
.menuBurger::before{
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    background-color: #000;
}
.menuBurger::before{
    top: -7px;
}
.menuBurger::after{
    bottom: -7px;
}

@media (max-width:1020px){
    .logo{
        width: 50%;
    }
}



@media (max-width:767px){
    .header_top ul li{
        display: none;
    }
    .menuBurger{
        display: block;
    }
  .logo{
    font-size: 12px;
  }
    
}

@media (max-width:590px){
    .logo{
        width: 70%;
    }
}