
.img{
    width: 52px;
    height: 52px;
    border-radius: 12px;
    background-color: blue;
    margin: 0 auto 25px;
    text-align: center;
    padding-top:10px ;
}
.img svg{
    color:#fff;
    margin: auto;
    width: 30px;
    height: 30px;
}
.text{
    font-size: 16px;
    font-weight: 700;
    color: #2b2b2b;
}