
.carusel{
    padding: 60px 0;
}
.buttons button{
    margin-bottom: 50px;
}

.slideText{
    font-size: 18px;
    font-weight: 600;
    color: #2b2b2b;
    line-height: 22px;
    padding: 20px 20px 20px 0;
}