@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.title{
    font-size: 36px;
    font-weight: 700;
    color: #020202;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    display: inline-block;
}
a,span{
    display: inline-block;
}

